@using ControleContatos.Enums
@model AlterarSenhaModel

@{
    ViewData["Title"] = "Alterar senha do usuario";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<h6 class="display-4 text-primary text-center fw-bold">Alterar senha do Usuário</h6>
<form method="post" asp-action="Alterar">
    <div class="form-group">
        <label class="fw-bold">Senha atual</label>
        <input type="password" class="form-control" asp-for="SenhaAtual" placeholder="Digite a senha atual">
        @Html.ValidationMessageFor(x => x.SenhaAtual)
    </div>
    <br />
    <div class="form-group">
        <label class="fw-bold">Nova senha</label>
        <input type="password" class="form-control" asp-for="NovaSenha" placeholder="Digite a nova senha">
        @Html.ValidationMessageFor(x => x.NovaSenha)
    </div>
    <br />
    <div class="form-group">
        <label class="fw-bold">Confirme a nova senha</label>
        <input type="password" class="form-control" asp-for="ConfirmarNovaSenha" placeholder="Confirme a nova senha">
        @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
    </div>
    <br />
    <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Alterar</button>
</form>
